*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f5f5f5;
}

header{
background:#0b6623;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

header h1{
font-size:2rem;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
font-weight:bold;
}

.hero{
height:90vh;
background:linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
padding:20px;
}

.hero h2{
font-size:3rem;
margin-bottom:20px;
}

.hero p{
font-size:1.2rem;
max-width:700px;
}

button{
background:#28a745;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
margin-top:15px;
transition:.3s;
}

button:hover{
background:#1c7c31;
}

.titulo{
text-align:center;
margin:50px 0 30px;
font-size:2rem;
color:#0b6623;
}

.cards{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
padding:20px;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
transition:.3s;
text-align:center;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:3rem;
color:#28a745;
margin-bottom:15px;
}

.verde{
background:#dfffe3;
}

#dados{
padding:40px;
text-align:center;
}

#dados input{
padding:12px;
width:300px;
max-width:90%;
}

#listaIdeias{
list-style:none;
margin-top:20px;
}

#listaIdeias li{
background:white;
padding:10px;
margin:10px auto;
width:300px;
border-radius:8px;
}

.container-login{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
flex-wrap:wrap;
}

.formulario{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
width:320px;
}

.formulario input{
width:100%;
padding:12px;
margin:10px 0;
}

footer{
background:#0b6623;
color:white;
text-align:center;
padding:20px;
margin-top:50px;
}

@media(max-width:768px){

.hero h2{
font-size:2rem;
}

header{
flex-direction:column;
}

.cards{
flex-direction:column;
align-items:center;
}

.container-login{
flex-direction:column;
align-items:center;
}

}